body {
    background-color: black;
}

#container {
    width: 100%;
    position: fixed;
    text-align: center;
}

.header {
    display: inline-block;
}
.header h1 {
    color: salmon;
    font-family: "DejaVu Sans";
}

#loginform label {
    color: white;
}